<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Licorice&display=swap" rel="stylesheet">
<div class="header">

  <img class="" src="../../../../assets/files.svg" height="200">
  <h1>Dirección General de Contrataciones Públicas - RESOLUCIONES</h1>
  <p><span class="seguro">Seguro</span> | <span class="completo">Completo</span> | <span class="gratis">Gratis</span></p>
</div>
